@use "../basic/" as *;

footer {
  background-color: $footer;
  padding: 50px;
  @include media("sm") {
    padding: 30px;
  }
}
.middle {
  display: flex;
  justify-content: space-between;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 20px 0;
  @include media("sm") {
    border-top: none;
    border-bottom: none;
    flex-direction: column;
    padding: 0;
  }
  &__footerMenuLarge{
    width: 100%;
    display: flex;
  justify-content: space-between;
  }
  &__box {
    min-width: 100px;
    padding: 0 10px;
    @include media("sm") {
      border-bottom: 1px black solid;
      padding: 10px;
      cursor: pointer;
    }
    &__title {
      font-size: 16px;
      font-weight: bold;
    }
    &__list {
      list-style: none;
      font-size: 16px;
      margin: 0;
      padding: 0;
      @include media("sm") {
        display: none;
      }
      &__item {
        border-bottom: 1px solid transparent;
        width: fit-content;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
.bottom {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    height: 90%;
    padding: 0 10px;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0);
    }
  }
}
