@use "../basic/" as *;

footer {
  background-color: $footer;
  padding: 50px;
  @include media("sm") {
    padding: 30px;
  }
}
.top {
  padding-bottom: 60px;
  &__box {
    &__text {
      width: 450px;
      @include media("xs") {
        width: 100%;
      }
      & h3 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      & p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.7;
      }
    }
    &__input {
      &__buttons {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        &__email {
          height: 30px;
          border: none;
          width: 250px;
          padding: 10px;
          color: black;
          @include media("xs") {
            width: 100%;
          }
          &:focus {
            outline: none;
            border: 3px solid black;
          }
        }
        &__submit {
          height: 30px;
          border: none;
          color: white;
          background-color: grey;
          padding: 0 10px;
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
.middle {
  display: flex;
  justify-content: space-between;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 20px 0;
  @include media("sm") {
    border-top: none;
    border-bottom: none;
    flex-direction: column;
    padding: 0;
  }
  &__box {
    min-width: 100px;
    padding: 0 10px;
    @include media("sm") {
      border-bottom: 1px black solid;
      padding: 10px;
      cursor: pointer;
    }
    &__title {
      font-size: 16px;
      font-weight: bold;
    }
    &__list {
      list-style: none;
      font-size: 16px;
      margin: 0;
      padding: 0;
      @include media("sm") {
        display: none;
      }
      &__item {
        border-bottom: 1px solid transparent;
        width: fit-content;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }
}
.bottom {
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    height: 90%;
    padding: 0 10px;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0);
    }
  }
}
