@use "../basic/" as *;
@use "../buttons/" as *;

.header {
  height: 145px;
  top: -26px;
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 110;
  background-color: $primary;

  @include media("md") {
    height: fit-content;
  }

  &__top {
    background-color: $secondary;
    color: $text_light;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19%;
    min-height: 25px;

    &__text {
      font-size: 12px;
    }
  }
  &__main {
    height: 56%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    @include media("md") {
      padding: 10px 30px;
      height: 100%;
      border-bottom: 1px solid $border_light;
    }
    @include media("sm") {
      padding: 10px 20px;
      height: 100%;
    }

    &__left {
      display: flex;
      align-items: center;
      @include media("md") {
        display: none;
      }
      &__first {
        @include media("lg") {
          display: none;
        }
      }
      &__second {
        @include media("lg") {
          margin-left: 0;
        }
      }
    }

    &__middle {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media("md") {
        justify-content: start;
      }
      & h1 {
        font-size: 3.5rem;
        @include media("md") {
          font-size: 3rem;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: right;
      align-items: center;
      &__search {
        display: none;
        @include media("md") {
          display: block;
        }
        @include media("xs") {
          display: none;
        }
      }
      &__profile {
        @include media("xs") {
          display: none;
        }
      }
      &__favorite {
        @include media("xs") {
          display: none;
        }
      }
      &__cart {
        @include media("xs") {
          display: none;
        }
      }
    }
  }
  &__nav {
    display: flex;
    justify-content: center;

    height: calc(26% + 2px);
    width: 100%;
    padding: 0 35px;
    border-top: 1px solid $border_light;
    border-bottom: 1px solid $border_light;
    @include media("md") {
      display: none;
      right: 0;
      position: absolute;
      top: 86px;
      background-color: rgba(250, 250, 250, 0.9);
      border-top: none;
      border-bottom: none;
      min-height: 300px;
      transition: 0.3s;
    }
    &__box {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      @include media("md") {
        width: 100%;
      }
      &__list {
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
        
      
        @include media("md") {
          align-items: center;
          height: 100%;
          justify-content: space-around;
        }
      }
    }
  }
}
.hamMenuIcons__box{
  width: 120px;
  display: flex;
  justify-content: space-between;
  
}


.nav--item{
  &:first-of-type{
    display: none;
    @include media ("xs"){
      display: block;
    }
  }
}

.nav--link {
  font-size: 18px;
  padding-bottom: 1px;
  border-bottom: 1px solid $border_transparent;
  color: $text_dark;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.2s, border 0.2s;
  &:hover {
    border-bottom: 1px solid $border_hover_text;
    color: $text_dark;
  }
}
.text--medium {
  font-size: 18px;
  border-bottom: 1px solid $border_transparent;
  transition: color 0.2s, border 0.2s;
  font-weight: 400;
  fill: black;

  &:hover {
    border-bottom: 1px solid $border_hover_text;
    color: $text_dark;
  }
}

.icon--left {
  height: 0.9rem;
  margin-right: 0.7em;
}
.ml--20px {
  margin-left: 20px;
}
.p--tb {
  padding-bottom: 1px;
  border-bottom: 1px solid $border_transparent;
  cursor: pointer;
}
.displayNavbar {
  display: block;

  transition: 0.3s;
}
.closeNavbar {
  right: 0;
}
