@use "../basic/" as *;

.item {
  width: 20%;
  border-right: 1px solid $border_light;
  height: fit-content;
  margin-top: 50px;
  @include media("sm") {
    width: 50%;
  }
  &:last-child {
    border-right: none;
  }
  &__article {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: fit-content;
    &__heart {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      width: fit-content;
      height: fit-content;
      z-index: 3;
      &:hover i {
        color: $accent;
      }
      & i {
        color: #e3e2dc;
      }
    }
    &__tag {
      &__box {
        position: relative;
        width: 100%;
        &:hover .item__article__tag__box__background {
          visibility: visible;
        }
        &__background {
          position: absolute;
          visibility: hidden;
          height: 100%;
          z-index: 2;
        }
        &__img {
          width: 100%;
        }
        &__text {
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          &__marksBox {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            font-size: 14px;
            &__spanNew {
              color: white;
              background-color: black;
              padding: 5px 10px;
            }
            &__spanDis {
              color: white;
              background-color: $accent;
              padding: 5px 10px;
              font-weight: 1000;
            }
          }
          &__name {
            margin: 10px 0;
            font-size: 26px;
          }
          &__priceBox {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            &__oldPrice{
              font-size: 16px;
            }
            &__price {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
