@use "../basic/" as *;

.page-link--products {
  border: none;
  color: black;

  &:hover {
    color: #666;
    background-color: white;
  }
  &:focus {
    box-shadow: none;
    color: black;
    background-color: white;
  }
}
.currentPage {
  border-bottom: 1px solid black;
}
.pagination--products {
  font-size: 16px;
  font-weight: bold;
}
