@use "../basic/" as *;

.products {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;

  &__aside {
    padding-top: 40px;
    padding-left: 40px;

    font-size: 18px;
    width: 20%;
   
  }
  &__main {
    width: 80%;
    &__items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      justify-content: start;
    }
  }
}
.item-products {
  @include media("lg") {
    width: 25%;
  }
  @include media("md") {
    width: 33%;
  }
  @include media("sm") {
    width: 50%;
  }
}
