@use "../basic/" as *;

.searchContainer {
  width: 100%;
  height: fit-content;
  min-height: calc(100vh - 145px);
  padding: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  &__title {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
  }
  &__box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__form {
      width: 100%;
      display: flex;
      width: 400px;
      height: 50px;
      font-size: 22px;
      margin-bottom: 20px;
      &__input {
        border: none;
        width: 100%;
        max-width: 300px;
        padding: 10px;
        color: black;
        border: 2px solid black;
        outline: none;
      }

      &__btn {
        height: 100%;
        width: 100%;
        min-width: 100px;
        max-width: 100px;
        border: none;
        color: white;
        background-color: black;
        height: 100%;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;

        &:hover {
          color: black;
          background-color: white;
        }
      }
    }
    &__messageBox {
      text-align: center;
      &__warning {
        color: red;
        font-size: 18px;
      }
    }
  }

  &__searchResult {
    width: 100%;

    &__dataContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
      justify-content: start;
    }
  }
}

.item--search {
  @include media("xxl") {
    width: 20%;
    &:nth-child(5n) {
      border-right: none;
    }
  }
  @include media("xl") {
    width: 20%;
    &:nth-child(5n) {
      border-right: none;
    }
  }
  @include media("lg") {
    width: 25%;
    &:nth-child(4n) {
      border-right: none;
    }
  }
  @include media("md") {
    width: 33.33%;
    &:nth-child(3n) {
      border-right: none;
    }
  }
  @include media("sm") {
    width: 50%;
    &:nth-child(even) {
      border-right: none;
    }
  }
}
