@use "../basic/" as *;
@use "../buttons/" as *;

.section2 {
  height: calc(100vh - 145px);
  width: 100%;
  margin-top: 145px;
  @include media("md") {
    height: calc(100vh - 65px);
    margin-top: 65px;
  }
}
.carousel-item img {
  object-fit: cover;
  position: relative;
  bottom: 0;
  height: calc(100vh - 145px);
  min-height: 500px;
  @include media("md") {
    height: calc(100vh - 65px);
  }
}
.my__caption {
  position: absolute;
  max-width: 400px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: start;
  @include media("md") {
    max-width: 300px;
  }

  & h6 {
    font-size: 1.06em;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
  & h2 {
    font-size: 3.6em;
    font-weight: bold;
    margin-bottom: 0.7em;
  }
  & p {
    font-size: 1.4rem;
    max-width: 80%;
    line-height: 1.7;
    margin-bottom: 3rem;
    font-weight: bold;
  }
  &__a {
    @include btn--a;
  }
  & span {
    font-size: 20px;
  }
}

.my__caption__a--black {
  @include btn--a--dark;
}
.my__caption__a--white {
  @include btn--a--light;
}
.my__caption--black {
  color: $secondary;
}
.my__caption--white {
  color: $primary;
}
