@use "../basic/" as *;

.section3 {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    & h2 {
      font-size: 40px;
      @include media("xs") {
        font-size: 30px;
      }
      @include media("xxs") {
        font-size: 20px;
      }
    }
  }
  &__popularProducts {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.item--popular {
  @include media("lg") {
    width: 25%;
    &:last-child {
      display: none;
    }
  }
  @include media("md") {
    width: 50%;
  }
}
