@use "../basic/" as *;
@use "../buttons/" as *;

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}
.section3 {
  height: fit-content;
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
}
.card {
  border: none;
  border-right: 1px solid $border_light;
  width: 34%;
  padding: 0 40px;
  cursor: pointer;
  &:last-child{
    border:none;
  }
  &__divImg {
    overflow: hidden;
    & img{
      transition: 0.3s;
    }
  }

  &--btn {
    @include btn--a;
    width: 50%;
    color: #000;
    border-color: #000;
    border: 2px solid #000;
    transition: 0.3s;
  }
  &:hover {
    & > div > img {
      scale: 1.05;
    }
    & > div > .card--btn {
      background-color: #000;
      color: white;
      transition: 0.3s;
    }
  }
}
