//main colors
$primary: #fff;
$secondary:#000;
$accent: #87d61f;
$footer: #E3E2DC;
//text colors
$text_dark: #000;
$text_light:#fff;
// border
$border_light: #ddd;
$border_hover_text: #000;
$border_transparent: transparent;
