.btnH {
  display: none;
}

.ham {
  width: 30px;
  height: 20px;
  background-color: transparent;
  transition: 0.3s;
  display: none;
  margin-left: 20px;
}

@media ((min-width: 0px) and (max-width: 992px)) {
  .ham {
    display: block;
  }
}
.line {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: 0.3s;
}

.line1 {
  position: relative;
  top: 0;
}

.line2 {
  position: relative;
  top: 4px;
  opacity: 1;
  transition: 0.3s;
}

.line3 {
  position: relative;
  top: 8px;
}

.btnH:checked ~ * .line1 {
  top: 8px;
  transform: rotate(45deg);
  transition: 0.3s;
}

.btnH:checked ~ * .line3 {
  top: 0px;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.btnH:checked ~ * .line2 {
  opacity: 0;
  transition: 0.3s;
}

.header {
  height: 145px;
  top: 0;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 110;
  background-color: #fff;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .header {
    height: 65px;
  }
}
.header__top {
  background-color: #000;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19%;
}
.header__top__text {
  font-size: 12px;
}
.header__main {
  height: 56%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .header__main {
    padding: 0 10px;
    height: 100%;
  }
}
.header__main__left {
  display: flex;
  align-items: center;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .header__main__left {
    display: none;
  }
}
@media ((min-width: 0px) and (max-width: 1200px)) {
  .header__main__left__first {
    display: none;
  }
}
@media ((min-width: 0px) and (max-width: 1200px)) {
  .header__main__left__second {
    margin-left: 0;
  }
}
.header__main__middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media ((min-width: 0px) and (max-width: 768px)) {
  .header__main__middle {
    justify-content: start;
  }
}
.header__main__middle h1 {
  font-size: 2.2rem;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .header__main__middle h1 {
    font-size: 2rem;
  }
}
.header__main__right {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header__main__right__first {
  display: none;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .header__main__right__first {
    display: block;
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  height: calc(26% + 2px);
  width: 100%;
  padding: 0 35px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .header__nav {
    border-top: none;
    border-bottom: none;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.header__nav__box {
  padding: 0;
}
.header__nav__box__list {
  width: 100%;
  justify-content: space-between;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .header__nav__box__list {
    display: none;
  }
}

.nav--link {
  font-size: 15px;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  transition: color 0.2s, border 0.2s;
}
.nav--link:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

.text--medium {
  font-size: 20px;
  border-bottom: 1px solid transparent;
  transition: color 0.2s, border 0.2s;
  font-weight: 400;
}
.text--medium:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

.icon--left {
  height: 0.9rem;
  margin-right: 0.7em;
}

.ml--20px {
  margin-left: 20px;
}

.p--tb {
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */