.productPage__main {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 10%;
       column-gap: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .productPage__main {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
}
.productPage__main__images {
  height: -moz-fit-content;
  height: fit-content;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .productPage__main__images {
    margin-bottom: 30px;
  }
}
.productPage__main__images__carousel {
  height: calc(100vh - 200px);
  margin: 0 80px;
}
.productPage__main__info {
  width: 40%;
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .productPage__main__info {
    width: 90%;
  }
}
.productPage__main__info__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
}
.productPage__main__info__header__available {
  font-size: 15px;
  cursor: pointer;
}
.productPage__main__info__header__available__icon {
  color: #87d61f;
}
.productPage__main__info__header__heartIcon {
  cursor: pointer;
}
.productPage__main__info__header__heartIcon:hover {
  color: black;
}
.productPage__main__info__name {
  font-size: 30px;
  margin-bottom: 20px;
}
.productPage__main__info__priceBox {
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 20px;
}
.productPage__main__info__priceBox__oldPrice {
  font-size: 16px;
}
.productPage__main__info__priceBox__price {
  font-size: 25px;
  font-weight: 500;
}
.productPage__main__info__code {
  font-size: 16px;
  margin-bottom: 20px;
}
.productPage__main__info__cartButtons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 43px;
  margin-bottom: 20px;
}
.productPage__main__info__cartButtons__quantity {
  height: 100%;
  display: inline-flex;
  min-width: 100px;
  max-width: 150px;
}
.productPage__main__info__cartButtons__quantity__minus {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  width: 33%;
  background-color: black;
  color: white;
  font-size: 18px;
}
.productPage__main__info__cartButtons__quantity__number {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  width: 33%;
  background-color: black;
  color: white;
  font-size: 18px;
}
.productPage__main__info__cartButtons__quantity__plus {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  width: 33%;
  background-color: black;
  color: white;
  font-size: 18px;
}
.productPage__main__info__cartButtons__addToCart {
  height: 100%;
  width: 60%;
  min-width: 200px;
  max-width: 300px;
  font-size: 18px;
  border: none;
  color: black;
  background-color: #87d61f;
}
.productPage__main__info__cartButtons__addToCart:hover {
  color: white;
  background-color: black;
}

.carousel--item--poducts {
  height: calc(100vh - 200px);
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .carousel--item--poducts {
    max-height: 500px;
  }
}

.carousel--item--poducts img {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  bottom: 0;
  height: calc(100vh - 200px);
}
@media ((min-width: 0px) and (max-width: 992px)) {
  .carousel--item--poducts img {
    max-height: 500px;
  }
}

.accordion-item--text {
  font-size: 16px;
}

.accordion-button--title,
.thridAccordion {
  padding-left: 0;
  font-size: 18px;
  padding: 0;
  padding: 16px 0;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #fff !important;
  outline: 0;
  background-color: #fff;
  color: black;
  border: none;
  box-shadow: 0 0 0 0px #ddd !important;
}

.accordion-button:active {
  background-color: #fff;
  color: black;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: black;
}

.thridAccordion {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.thridAccordion a i {
  padding-right: 10px;
  font-size: 20px;
  color: black;
}
.thridAccordion__title {
  font-size: 18px !important;
  font-weight: 0 !important;
  margin: 0;
}

.carousel-control-prev--product {
  left: -8%;
}

.carousel-control-next--product {
  right: -8%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.carousel-control-prev,
.carousel-control-next {
  top: calc(50% - 3rem);
  bottom: calc(50% - 3rem);
  width: 10%;
}

.productPage__main__info__header__heartIcon--normal {
  color: #e3e2dc;
}

.productPage__main__info__header__heartIcon--clicked {
  color: #87d61f;
}/*# sourceMappingURL=product.css.map */