* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Formular";
  src: url("../../fonts/formular-regular-trial.otf");
}

html {
  font-family: "Formular";
  font-size: 10px;
}
@import "./layouts/itemClasses";
@import "./layouts/header";
@import "./layouts/section1";
@import "./layouts/section2";
@import "./layouts/section2Small";
@import "./layouts/section3";
@import "./layouts/footer";
@import "./layouts/products";
@import "./layouts/product";
@import "./layouts/singup";
@import "./layouts/login";
@import "./layouts/pagination";
@import "./layouts/filtersContainer";
@import "./layouts/accordion";
@import "./layouts/favoritePage";
@import "./layouts/searchPage";
@import "./layouts/accountPage";
@import "./layouts/cartPage";
@import "./layouts/deliveryPage";
@import "./layouts/supportPage";
@import "./layouts/accountAccessPage";








