
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: "Formular";
    src: url("../../fonts/formular-regular-trial.otf");
  }
  
  html {
    font-family: "Formular";
    font-size: 10px;
  }

@import './layouts/header';
@import './layouts/main';
@import './layouts/section1';
@import './layouts/section2';
@import './layouts/section3';
@import './layouts/footer';
@import './layouts/pruducts';
@import './layouts/itemClasses';



